.DS_Store
node_modules
/dist
env.js
.firebaserc
.firebase/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
/src/utils/my-portal-e90f4-firebase-adminsdk-d3oav-6de944c1f0.json
